@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  font-family: "Noto Sans TC", sans-serif !important;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: url("/home_bg.png") no-repeat center center;
  background-color: #ffffff;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .sig-canvas {
  width: 100vw;
  height: 100vh;
} */

.sig-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 如果你想防止用户滚动或者拖动 */
  touch-action: none;
  background-size: 60%;
  /* 或者使用 contain，取决于你想要的效果 */
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-60px);

}

/* 确保父容器也是全屏的 */
.canvas-container {
  /* 给 canvas 的父元素添加这个类名 */
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


/* ----------- 签名页面 ------------ */
.signature-page {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-top: 94px;

}

.signature-canvas {
  width: 100%;
  height: 100%;
}

.signature-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.clear-button {
  width: 422px;
  height: 84px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 32px;
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, #48144D 0%, #782280 50%, #18071A 100%);
  box-shadow: 0px 4px 4px 0px #0000001F;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-bottom: 24px;
}

.confirm-button {
  width: 422px;
  height: 84px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 32px;
  font-weight: 500;
  color: white;
  border: none;
  background: linear-gradient(180deg, #764C1D 7.14%, #FBA919 52.17%, #B97B1B 97.21%);
  box-shadow: 0px 4px 4px 0px #0000001F;

}

.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:active {
  background: none;
}

.display-menu {
  width: 100%;
  height: 92px;
}


/* 嘉宾模式 */

.guest-top {
  width: 100%;
  height: 36px;
  background: linear-gradient(179deg, #764C1D 7.14%, #FBA919 52.17%, #B97B1B 97.21%);
  position: absolute;
  top: 0;
  left: 0;
}

.guest-bottom {
  width: 100%;
  height: 36px;
  background: linear-gradient(179deg, #764C1D 7.14%, #FBA919 52.17%, #B97B1B 97.21%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.guest-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.guest-list-item {
  width: 180px;
  height: 180px;
  background: #782280;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  color: white;
}

/* 承诺书 */
.promise-page {
  width: 554px;
  height: 712px;
  background: url("/promise_bg.png") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  padding: 44px 56px;
  color: #000000;
  font-size: 38px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
}